

/* regla por TAG */


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cornflowerblue;
    background-image: url(../img/farmacia2_gif.gif);
    background-size: cover;
    background-position: center center; /*el 1er argumento controla posición horizontal. El 2do controla posición vertical. si se escribe center una sola vez, css asume que se quiere centrar en ambos ejes, pero es buena práctica colocar ambos.*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 5;
}

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(250, 212, 122);
    text-align: center;
    color: rgb(190, 8, 8);
    border: 5px solid #a80606;
}

article{
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

/*Regla por ID: se define con # al inicio del nombre*/
#encabezado{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
    background-color: rgb(145, 213, 236);
    text-align: center;
    color: rgb(119, 7, 7);
}

/*Regla por CLASE: se define con . al inicio del nombre */

.seccionLogoHeader{
    width: 25%;
    align-items: center;
    
    
}

.seccionTitulos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.seccionDerechaTitulos{
    width: 25%;
}
    
.seccionBody{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(234, 232, 170, 0.5);
    margin: 600px;
    border: 5px solid rgb(248, 221, 200);
    margin: 50px;
    padding: 10px;
}

.seccionEquipo1{
    text-align: center;
    background-color: rgba(241, 241, 200, 0.8);
}

.seccionEquipo2{
    text-align: center;
    background-color: rgba(241, 241, 200, 0.8);

}

.seccionImagen1 :hover{
    animation: latido 1.5s infinite ease-in-out;
    transition: transform 0.2s ease;
}

.seccionImagen2 :hover{
    animation: latido 1.5s infinite ease-in-out;
    transition: transform 0.2s ease;
}

.seccionVideo{
    display: flex;
    justify-content: center;
}

.linkInicio:hover{
    animation: latido 1.5s infinite ease-in-out;
    transition: transform 0.2s ease;
}

/* .linkNosotros :hover{
    animation: latido 1.5s infinite ease-in-out;
    transition: transform 0.2s ease;
} */

.linkContacto:hover{
    animation: latido 1.5s infinite ease-in-out;
    transition: transform 0.2s ease;
}
@keyframes latido {
    0% { transform: scale(1); }
    14% { transform: scale(1.08); }
    28% { transform: scale(1); }
    42% { transform: scale(1.08); }
    70% { transform: scale(1); }
    100% { transform: scale(1); }
}
